*{
box-sizing: border-box;
padding: 10px 5px;


}


body {

    display: flex;
    margin: 0;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    
}

h1 {
    text-align: center;

}

.books-list {
    text-align: center;

background-color: rgb(227, 209, 209);
border-radius: 10px;


}

 th, td {

    border-collapse: collapse;
    background-color: gray;

}

button {
    cursor: pointer;
    border-radius: 7px;
}


section .add-book-btn {
text-align: start;

}



